[submodule "server"]
	path = server
	url = https://github.com/drguptavivek/central-backend.git
[submodule "client"]
	path = client
	url = https://github.com/drguptavivek/central-frontend.git
[submodule "agentic_kb"]
	path = agentic_kb
	url = https://github.com/drguptavivek/agentic_kb.git
[submodule "central-nginx-vg-base"]
	path = central-nginx-vg-base
	url = https://github.com/drguptavivek/central-nginx-vg-base.git
[submodule "crs"]
	path = crs
	url = https://github.com/coreruleset/coreruleset.git
